$font_Style:'Muli',sans-serif;
$color-white: white;
$color_violet: #8F57FD;


@import '../header.scss';

.container__figuras{
    display: flex;
    flex-wrap: wrap;
}

.cuadrado__section{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
    color: $color-white;
    padding-top: 20px;

}

.cuadrado__container{
    background-color: rgba(255, 255, 255, 0.1) ;
    border: 2px solid white;
    border-radius: 40px;
    padding: 30px 34px 20px;
    min-height: 385px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;


}

.cuadrado__container--img{
    display: flex;
}
.cuadrado__img{
    width: 50px;
    margin-top: 10px;
    margin-left: 10px;

}

.cuadrado__container--form{
    display: flex;
    flex-direction: column;
}

.cuadrado__container--label{
    font-family: $font_Style;
    margin-bottom: 20px;

}

.cuadrado__container--input{
    font-family: $font_Style;
    margin-bottom: 20px;
    border-radius: 25px;
    height: 35px;


}

.cuadrado__container--perimetro,
.cuadrado__container--area{
    margin-bottom: 20px;
    border-radius: 25px;
    font-size: 16px;
    font-weight: bold;
    font-family: 'Muli', sans-serif;
    height: 35px;
    letter-spacing: 1px;
    margin: 5px 0px;


}

.triangulo__container{
    background-color: rgba(255, 255, 255, 0.1) ;
    border: 2px solid white;
    border-radius: 40px;
    padding: 30px 34px 20px;
    min-height: 260px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.input{
    border-radius: 40px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 0px 20px;
    outline: none;
    height: 35px;

}

.circulo__container{
    background-color: rgba(255, 255, 255, 0.1) ;
    border: 2px solid white;
    border-radius: 40px;
    padding: 30px 34px 20px;
    min-height: 380px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.input__circulo{
    border-radius: 40px;
    font-family: 'Muli', sans-serif;
    font-size: 16px;
    margin-bottom: 97px;
    padding: 0px 20px;
    outline: none;
    height: 35px;

}